@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Database Management System</h1>
    <p>This application is build to manage the data of a school. It has student page through which students can register in the school. As well as it has courses page by which students can register for their courses and can tell which courses they have completed. Moreover, one student can apply for multiple courses.</p>
</div>
